/* Tilt and align noUiSlider pip labels */
.discrete-slider .noUi-value {
    color: #000 !important; 
    font-size: 20px;
    transform: rotate(20deg) !important; 
    transform-origin: top left;
    text-align: left;
    display: inline-block;
    white-space: nowrap;
    margin-top: 20px;
    margin-left: 4px;
}